body{
	background: #ECECE0
}
div.container{
	position: absolute;
	left: 25%;
	width: 759px;
	height: 456px;
	background: #ECECEC;
}
div.top{
	position: absolute;
	width: 759px;
	height: 59px;

	background: #D1D0D0;
}
div.left{
	position: absolute;
	top: 59px;
	left: 0;
	width: 208px;
	height: 397px;
	background: #FFFFFF;
}
div.right{
	position: absolute;
	overflow: scroll;
	top: 59px;
	left: 208px;
	width: 551px;
	height: 397px;
}
input#search{
	position: absolute;
	top: 7px;
	left: 16px;
	width: 184px;
	height: 43px;
	background: #A9A9A9;
}
div.loup{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 26px;
	height: 26px;

	background-image: url('Vector.png')
}
input#search_text{
	position: absolute;
	width: 61px;
	height: 29px;
	left: 43px;
	top: 10px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #DDDDDD;
}
div.avatar{
	position: absolute;
	top: 10px;
	left: 707px;
	width: 39px;
	height: 39px;

	background-image: url('avatar.png');
}
button.day{
	position: absolute;
	width: 173px;
	height: 34px;

	background: #C4C4C4;
}
button#today{
	left: 16px;
	top: 18px;
}
button#week{
	left: 16px;
	top: 66px;
}
div#today{
	position: relative;
	width: 100%;
	height: 22px;
	top: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */


	color: #000000;
}
div#week{
	position: relative;
	width: 100%;
	height: 22px;
	top: 0;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */


	color: #000000;
}
div.calendar{
	position: absolute;
	width: 173px;
	height: 180px;
	left: 16px;
	top: 118px;
	border: 1px solid;
}
div.todo{
	position: relative;
	width: 505px;
	height: 84px;
	margin: 13px 13px;

	background: #D2D2D2;
}
h1.todo_name{
	position: relative;
	width: 400px;
	height: 24px;
	left: 8px;
	top: 5px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;

	color: #000000;
}
p.todo{
	position: absolute;
	width: 450px;
	height: 19px;
	left: 8px;
	top: 14px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #000000;
}
p.date{
	position: absolute;
	width: 92px;
	height: 12px;
	right: 0;
	bottom: 0;
	margin: 0px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;

	color: #000000;
}
input#not_completed{
	position: absolute;
	width: 12px;
	height: 12px;
	top: 303px;
	left: 16px;

	background: #717171;
}
label#not_compl_lab{
	position: absolute;
	width: 120px;
	height: 12px;
	top: 307px;
	left: 31px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 0.02em;

	color: #000000;
}
div.page_date{
	position: relative;
	width: 100%;
	height: 12px;
	left: 8px;
	top: 8px;


	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 0.02em;

	color: #000000;
}
input.todo_checkbox{
	position: absolute;
	right: 15px;
	top: 25%;
	width: 35px;
	height: 35px;
	border: 1px #717171 solid;
	background: 'black';
}